<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>股市黄历</title>
</head>
<body>
    <div class="date">
        <span>2018年 3月</span>
        <span class="small">星期六 农历正月初10</span>
    </div>
    <div class="day">
        <p>10</p>
        <div class ="bgs">
            <img class="floatWords" src="../../static/css/jing.png" alt="words"/>
            <img class="bg" src="../../static/css/niu.png" alt="daily">
        </div>
        <div class="bgs hide">
            <img class="floatWords" src="../../static/css/fang.png" alt="words"/>
            <img class="bg" src="../../static/css/hu.png" alt="daily">
        </div>
    </div>
    <div class="positive list">
        <p><img src="../../static/css/yi.jpg" /></p>
        <ul>
            <li>银行指数择时增强</li>
            <li>A股成长择时增强</li>
            <li>上证50成长增强</li>
            <li>沪深300成长增强</li>
        </ul>
    </div>
    <div class="nagative list">
        <p><img src="../../static/css/ji.jpg" /></p>
        <ul>
            <li>建设银行</li>
            <li>农业银行</li>
            <li>工商银行</li>
            <li>工商银行</li>
        </ul>
    </div>
    <div style="clear:both"></div>
    <div class="slogan">路边只有一辆共享单车，请问罗志祥和潘玮柏谁可以骑？</div>
    <script src="../../static/css/core.js"></script>
</body>
</html>